body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    /* text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;
    font-size: 30px;
    text-transform: uppercase; */

    /* text-shadow: 2px 2px 4px red;
    color: transparent; */


}

p {
    text-indent: 80px;
    letter-spacing: 0.5rem;
    line-height: 2rem;
}