.container{
    /* background-color: red; */
    /* width: 400px;
    height: 400px; */
    border: 2px solid green;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */

    display: none;
}

.Block1{
    overflow: auto;
}

.p1{
    border: 2px solid red;
    /* margin: 100px; */
    clear: right;
}

.p2{
    border: 2px solid #5900ff;
    clear: left;
}

.img1{
    float: right;
    margin: lef 40px;
}

.img2{
    float: left;
}


.bigbox{
    width: 400px;
    height: 400px;
    background-color: gray;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid red;

}

.b1{
    background-color: red;
}
.b2{
    background-color: blue;
}
.b3{
    background-color: green;
}
.b4{
    background-color: yellow;
}